@use '@/styles/abstracts/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 1rem;
  border-bottom: 1px solid v.$light-gray;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.subTitle {
  font-size: v.$text-md;
  font-weight: v.$font-medium;
}

.subContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: v.$text-sm;
  font-weight: v.$font-regular;
  color: #2e2e2e;
}

.apply {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
  }
}
