@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as m;

.roundedShape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) rotate(-45deg); /* 요소의 중앙을 부모 요소의 중앙으로 이동 */

  width: 430px;
  height: 430px;

  border: 40px solid transparent;
  border-bottom-color: v.$red-200;
  border-top-color: v.$red-200;
  border-left-color: v.$red-200;

  border-radius: 50%;
  z-index: -1; /* 이 요소를 loginContainer의 뒤로 보내는 부분 */
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: v.$bgcGray;

  @include m.mobile {
    background-color: #fff;
    height: 100vh;
  }

  h2 {
    font-size: 1.7rem;
    text-align: center;
    color: v.$gray-200;
    padding-bottom: 2rem;

    @include m.mobile {
      font-size: 1.4rem;
    }
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 1rem;
    padding: 4rem 7rem;
    padding-inline: clamp(1rem, 11%, 5rem);
    margin: 0 auto;
    width: clamp(500px, 50%, 600px);
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.06);

    .logoImageDiv {
      display: none;
      justify-content: center;
      align-items: center;

      @include m.mobile {
        display: flex;
      }
    }

    a {
      color: v.$red-300;

      &:hover {
        text-decoration: underline;
      }
    }

    .signUpBtn {
      margin-top: 3rem;
      @include m.mobile {
        margin-top: 2em;
        padding: 0.7rem 0;
        font-size: 1rem;
      }
    }

    .bottomWrapper {
      text-align: center;
      color: v.$gray-200;
      font-size: 15px;
      div {
        display: flex;
        justify-content: center;
        padding: 0.4rem 0;
      }
    }

    // .emailInput {
    //   position: relative;
    // }

    // .emailSubBtn {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    // }
    @include m.mobile {
      width: 100%;
      // height: 100%;
      top: 50;
      left: 50;
      transform: translate(-50%, -50%);
      box-shadow: none;
      padding: 0rem 1.2rem;
      gap: 1.4rem;
    }
    @include m.tablet {
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      box-shadow: none;
    }
  }
}
