@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/variables' as v;

.users {
  @include m.flex-center;
  align-items: flex-end;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;

  border-bottom: 1px solid v.$light-gray;
}
