@use '@/styles/abstracts/mixins' as m;
@use '@/styles/abstracts/variables' as v;

.info {
  @include m.flex-center;
  align-items: flex-end;
  gap: 0.5rem;

  .name {
    font-size: v.$text-sm;
    font-weight: v.$font-regular;
  }

  .date {
    opacity: 0.5;
    font-size: 12px;
  }
}
