.container {
  position: relative;
  width: 100%;
  height: 100%;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 2rem;
    padding: 2rem 3rem;
    padding-inline: clamp(1rem, 5%, 3rem);
    margin: 0 auto;
    width: clamp(300px, 50%, 500px);
    background-color: #fff;

    a {
      color: $red-300;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
