.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 680px;
  margin: 0 auto;

  padding: 1rem 0 2rem;
  border-bottom: 1px solid $red-100;

  .article-info {
    display: flex;
    gap: 0.5rem;
    color: $black;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.5rem;

    .like {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  .article-contents {
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
      .title {
        font-size: 20px;
        margin-bottom: 0.5rem;
      }

      .description {
        line-height: 1.5;
      }
    }

    div:nth-child(2) {
      display: flex;
      justify-content: flex-end;

      img {
        object-fit: cover;
      }
    }
  }
}

.article-details {
  max-width: 680px;
  margin: 1rem auto;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $black;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid $red-300;

    span {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  p {
    line-height: 1.5;
  }
}
