@import '@styles/abstracts/variables';

.editor-wrapper {
  position: relative;

  // max-width: 680px;
  margin: auto;
}

.menus {
  position: relative;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #dbdbdb;
  gap: 1rem;

  background-color: #fff;

  .editor-menu-items-wrapper {
    position: relative;

    .editor-menu-drop {
      position: absolute;
      display: grid;
      gap: 0.5rem;
      top: calc(100% + 0.5rem);
      left: 50%;
      transform: translateX(-50%);

      padding: 0.5rem;
      border: 1px solid #dbdbdb;
      background-color: #fff;
      z-index: 1;

      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &.open {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    padding: 1rem 0.25rem;

    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    outline: none;

    font-size: 20px;
    color: #8e8e8e;

    &:hover {
      background-color: #dbdbdb;
    }

    &.is-active {
      color: #000;
    }

    &.editor-text-color {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 14px;
        height: 14px;
        z-index: 1;
      }

      &.color-accent::before {
        background-color: $red-400;
      }

      &.color-black::before {
        background-color: #0d0d0d;
      }
    }
  }
}

.tiptap {
  min-height: calc(100vh - #{$--header-height} - #{$--nav-bar-height} - #{$--editor-footer-height});
  max-height: calc(100vh - #{$--header-height} - #{$--nav-bar-height} - #{$--editor-footer-height});
  padding: 2rem 3rem;
  background-color: #fff;
  outline: none;

  overflow-y: auto;

  ul,
  ol {
    padding: 0 2rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
    counter-reset: list;
  }

  li {
    margin-block: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(#0d0d0d, 0.1);
  }

  h1 {
    font-size: 2.3rem;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'Hack', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      font: inherit;
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  p {
    font-size: 1.1rem;
  }

  h1.is-empty:nth-child(1)::before,
  p.is-empty:nth-child(2)::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    pointer-events: none;
    height: 0;
    float: left;
  }
}

.editor-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: #{$--editor-footer-height};

  border-top: 1px solid #dbdbdb;
}
