@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

/*반응형, 브라우저 크기가 1024px 이상일때*/
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
