@use '@/styles/abstracts/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 768px;
  margin: 0 auto;
  padding-block: 4rem;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;

  padding: 1rem;

  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.015);
  }

  .title {
    font-size: v.$text-lg;
    font-weight: v.$font-medium;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .skill {
    font-size: v.$text-sm;
    color: #2e2e2e;

    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    padding: 2px 4px;
    margin-right: 0.5rem;
  }
}
