.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;

  .board-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    li {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
    }
  }
  .board-btn-box {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    span {
      font-size: $--size-subtext;
      &:hover {
        color: $red-300;
        cursor: pointer;
      }
    }
  }

  .write-data-text {
    font-size: $--size-subtext;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    span {
      color: $gray;
    }

    p {
      background-color: $red-100;
      color: $red-300;
      padding: 0 0.2rem;
      font-size: $--size-smalltext;
      border-radius: 1rem;
    }
  }
}

@include mobile {
  .board-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    li {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
    }
  }
  .title-text {
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      text-decoration: underline $red-500;
    }
  }
}
@include tablet {
  .board-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    li {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
    }
  }
  .title-text {
    width: 70%;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      text-decoration: underline $red-500;
    }
  }
}
@include desktop {
  .title-text {
    width: 70%;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      text-decoration: underline $red-500;
    }
  }
}
