.comment-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 680px;
  margin: 0 auto;
  padding-block: 2rem;

  .form {
    width: 100%;

    .content-write {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 2px solid $red-200;
      border-radius: 0.25rem;
      overflow: hidden;

      &:focus-within {
        outline: 1px solid $red-200;
      }

      .content {
        resize: none;
        padding: 0.75rem;
        font-family: $--font-main;
        font-size: 1rem;
        width: 100%;
        border: none;
        outline: none;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.25rem;
        font-size: $--size-subtext;
        padding: 0.25rem;

        label {
          user-select: none;
        }

        button[type='submit'] {
          margin-left: 0.5rem;
          font-size: inherit;
        }
      }
    }
  }

  .comment-list {
    display: flex;
    flex-direction: column;

    .comments {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1.5rem;

      .parent,
      .child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
      }

      .child {
        margin-left: 2rem;
      }

      .date {
        font-size: $--size-subtext;
        opacity: 0.5;
      }

      .reply-btn {
        display: flex;
        margin-top: 0.3rem;
        font-size: $--size-subtext;
        background-color: transparent;
      }
    }
  }
}
