@import '@styles/abstracts/variables';

.group {
  display: grid;
  gap: 0.3rem;

  .input-wrapper {
    position: relative;

    transition: border 0.2s ease;

    &.search {
      display: flex;
      align-items: center;
      padding-inline: 1rem;
      height: 46px;

      border: 1px solid $light-gray;
      border-radius: 0.25rem;

      gap: 0.5rem;

      &:focus-within {
        border: 1px solid $gray;
      }
    }

    .input {
      position: relative;
      font-size: 14px;
      font-family: 'spoqa Han Sans Neo', 'sans-serif';
      color: $black;

      padding: 0;
      margin: 0;
      width: 100%;
      height: 28px;

      outline: none;
      border: none;
      border-bottom: 1px solid $light-gray;

      transition: border-bottom 0.2s ease-in-out;

      &:focus-within {
        border-bottom: 1px solid $blue;
      }

      &.error {
        border-bottom: 1px solid $red-400;
      }

      &.search {
        border: none;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }
  }

  .label {
    font-size: 12px;
    color: $gray;
  }

  .message {
    font-size: 12px;
    color: $red-400;
  }
}
