@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 75%;
  margin: 0 auto;
}
.userArticle {
  display: flex;
  align-items: center;
  button {
    border: none;
    background-color: transparent;
  }
}
.boardArticle {
  flex: 2;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@include desktop {
  .section {
    display: flex;
    column-gap: 2rem;
  }
  .sideArticle {
    flex: 8;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .sideArticleTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15rem;
    gap: 1rem;

    div {
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .sideArticleMiddle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15rem;
    gap: 1rem;
    div {
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .sideArticleBottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 15rem;

    div {
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}
@include tablet {
  .section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  .sideArticle {
    flex: 8;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .sideArticleTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15rem;
    gap: 1rem;

    div {
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .sideArticleMiddle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15rem;
    gap: 1rem;
    div {
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .sideArticleBottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 15rem;

    div {
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .boardArticle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
  }
}

@include mobile {
  .section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  .sideArticle {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .sideArticleTop {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      border: 1px solid $red-100;
      height: 15rem;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .sideArticleMiddle {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    div {
      height: 15rem;
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .sideArticleBottom {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    div {
      height: 15rem;
      border: 1px solid $red-100;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .boardArticle {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style: none;
  }
}
