.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  list-style: none;
}
.itemBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
