@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';

.container {
  width: 100%;
  height: $--header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;

  .logo {
    text-transform: uppercase;
    cursor: pointer;
  }
  .nav {
    display: flex;
  }
  .nav > div {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    padding: 1rem 2.5rem;
    border-bottom: 2px solid transparent;

    a {
      color: $black;
      text-decoration: none;
    }

    &:hover {
      box-sizing: border-box;
      border-bottom: 2px solid $red-500;
      color: $black;
    }
  }

  .signin {
    text-transform: capitalize;
    font-size: $--size-text;
    color: $red-500;
    background-color: transparent;
    outline: none;

    a {
      text-decoration: none;
      color: $red-500;
      font-weight: bold;
    }
  }
}

@include mobile {
  .menuBtn {
    flex: 1.5;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .signin {
    flex: 2;
    text-align: center;
    padding: 0 0.5rem 0 0;
  }

  .logo {
    flex: 8;
    text-align: center;
  }

  .nav {
    visibility: hidden;
  }

  .nav > div {
    display: none;
  }
}

@include tablet {
  .menuBtn {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .signin {
    flex: 1.5;
    text-align: center;
  }

  .logo {
    flex: 8;
    text-align: center;
  }

  .nav {
    visibility: hidden;
  }

  .nav > div {
    display: none;
  }
}
@include desktop {
  .container {
    column-gap: 3rem;
  }
  .menuBtn {
    display: none;
  }
}
