@use '@/styles/abstracts/variables' as v;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;
  border-radius: 4px;

  font-weight: 400;
  font-size: v.$text-sm;

  color: #fff;
  background-color: #f8607a;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;

  &.secondary {
    color: v.$gray;
    background-color: #fff;
    border: 1px solid v.$gray;

    &:hover {
      color: v.$black;
      background-color: #fff;
      border: 1px solid v.$black;
    }

    &[data-selected='selected'] {
      color: v.$black;
      background-color: #fff5f5;
      border: 1px solid v.$black;
    }
  }

  &.text {
    color: v.$gray;
    background-color: #fff;

    &:hover {
      color: v.$black;
    }
  }

  &.default {
    color: #020202;
    background-color: #ffffff;
    border: 1px v.$light-gray solid;
    font-size: v.$text-xs;
    font-weight: v.$font-medium;
    cursor: default;
  }
}
