@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as m;

.box {
  position: relative;
  display: flex;
  flex-direction: column;

  .textArea {
    font-family: v.$font-main;
    font-size: v.$text-md;

    padding-block: 0.5rem;
    margin-bottom: 0.5rem;

    width: 100%;
    resize: none;

    border: none;
    outline: none;

    box-shadow: 0 2px 0 0 v.$light-gray;

    &:focus-within {
      box-shadow: 0 2px 0 0 v.$gray;
    }
  }

  .actions {
    @include m.flex-center;
    justify-content: flex-end;
    gap: 1rem;
  }
}
