@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';

.roundedShape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) rotate(-45deg); /* 요소의 중앙을 부모 요소의 중앙으로 이동 */

  width: 430px;
  height: 430px;

  border: 40px solid transparent;
  border-bottom-color: $red-200;
  border-top-color: $red-200;
  border-left-color: $red-200;

  border-radius: 50%;
  z-index: -1; /* 이 요소를 loginContainer의 뒤로 보내는 부분 */
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -27%);

  width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FTtitle {
  font-size: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm h2 {
  padding: 10px 0 20px 0;
  font-size: 20px;
  color: #b5b5b5;
  text-align: center;
}

.findPassword {
  font-size: 10px;
  text-decoration: none;
  padding: 0 0 0 90px;
  color: $gray;
}

Button {
  margin-top: 10px; /* 원하는 간격으로 조절 */
  border-radius: 10px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
