body {
  margin: 0;
}

.footer {
  background-color: #ffffff;
  color: rgb(39, 39, 39);
  width: 100%;
  padding: 10px;
  overflow: hidden;
  min-height: 100px;
  margin-top: 180px;

  @include mobile {
    display: none;
  }

  hr {
    border: none;
    border-top: 1px solid #d5d5d58e;
    margin: 10px 0;
    border-width: 2px;
  }
}

.member-name {
  color: #949494;
  font-weight: 300;
}

.footer h2 {
  padding-bottom: 15px;
  font-size: 20px;
}

.footer .footer-section p {
  font-size: 14px;
  color: #818181;
  font-weight: 300;
}

.team-list-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.team-list {
  flex: 1;
}

.footer-content {
  padding: 32px 60px 0 40px;
  display: flex;
  gap: 88px;
}

.icon-text-container a {
  align-items: center;
  margin-right: 10px;
  font-size: 15px;
}

ul.team-members-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

ul.team-members-list li {
  font-size: 10px;
  margin-bottom: 4px;
}

ul.team-members-list li a {
  color: #9e9e9e;
}

ul.team-members-list li a:hover {
  text-decoration: underline;
}

.team-list h3 {
  font-size: 12px;
  margin: 10px 0;
  color: $red-500;
}

.footer .footer-bottom p {
  padding: 50px 20px;
  font-size: 12px;
  color: #838383;
}

.footer-section {
  margin-right: -20px;
  a.github-link {
    font-size: 12px;
    color: $red-400;
  }
}

.github-link span {
  margin-left: 5px;
  font-weight: 500;
  color: $red-300;
}

.feedback-link {
  color: rgb(90, 90, 90);
  font-weight: 300;
  font-size: 14px;
  :hover {
    color: $red-500;
  }
}
