@use '@/styles/abstracts/variables' as v;

.container {
  position: relative;
  display: flex;
  max-width: 760px;
  gap: 6rem;
  padding: 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}

.content {
  flex: 1;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .title {
      font-size: 2rem;
      font-weight: v.$font-bold;
    }
  }
}

.propose {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
