@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as m;

.text-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}
.user-profile-input {
  visibility: hidden;
}

@include m.desktop {
  .container {
    width: 30%;
    height: 40rem;
    background-color: v.$white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem 0;
  }
  .user-profile {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
  }
  .hidden {
    visibility: visible;
  }
}
@include m.tablet {
  .container {
    width: 30%;
    height: 40rem;
    background-color: v.$white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem 0;
    .user-profile {
      width: 12rem;
      height: 12rem;
      margin: 0 auto;
    }
  }
}
@include m.mobile {
  .container {
    width: 70%;
    height: 40rem;
    background-color: v.$white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
    padding: 3rem 0;

    .user-profile-input {
      width: 12rem;
      height: 12rem;
      margin: 0 auto;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: v.$white;
  z-index: 1000;

  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem;
}

.closeButton {
  background: transparent;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 20%;
  z-index: 1000;
}
