.container {
  width: 30%;
  height: 40rem;
  background-color: $white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
}
.userProfile {
  width: 8rem;
  height: 8rem;
}
.textContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}
